<div class="card custom-position-card text-center">
  <img src="https://img2.pngio.com/transparent-background-quiz-logo-png-quiz-game-png-860_330.png" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="mb-3" [ngClass]="{'green-circle': correct, 'red-circle': !correct}">
      <fa-icon style="font-size: 3rem" [icon]="faAward" *ngIf="correct"></fa-icon>
      <fa-icon style="font-size: 3rem" [icon]="faFail" *ngIf="!correct"></fa-icon>
    </div>
    <div>
      <h5 *ngIf="!correct" class="m-3">Wrong! Correct answer is {{ answer }}</h5>
      <h4 *ngIf="correct" class="m-3">Correct!</h4>
    </div>
  </div>
  <br>
  <button class="btn btn-lg btn-outline-success mt-3" (click)="onNext()">Next Question</button>
</div>
